<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Morphbank Object Service</display-name>
	<description>This application provides access to Morphbank objects</description>
	<servlet>
		<servlet-name>request</servlet-name>
		<servlet-class>net.morphbank.mbsvc3.request.RequestServlet</servlet-class>
		<init-param>
			<param-name>persistence</param-name>
			<param-value>morphbank-dev</param-value>
		</init-param>
		<init-param>
			<param-name>logfile</param-name>
			<param-value>/usr/share/tomcat7/webapps/mbsvc3/mbdrequest.log</param-value>
		</init-param>
		<init-param>
			<param-name>filepath</param-name>
			<param-value>/usr/share/tomcat7/webapps/mbsvc3/xmlfiles/</param-value>
		</init-param>
		<init-param>
			<param-name>serviceprefix</param-name>
			<param-value>http://services.dev.morphbank.net/mbsvc3/request?</param-value>
		</init-param>
		<init-param>
			<param-name>webserver</param-name>
			<param-value>http://www.dev.morphbank.net/</param-value>
		</init-param>
		<init-param>
			<param-name>remoteserver</param-name>
			<param-value>http://services.dev.morphbank.net/mbsvc3/request?</param-value>
		</init-param>
		<init-param>
			<param-name>imageserver</param-name>
			<param-value>http://images.dev.morphbank.net/</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>flickr</servlet-name>
		<servlet-class>net.morphbank.mbsvc3.request.FlickrServlet</servlet-class>
		<init-param>
			<param-name>persistence</param-name>
			<param-value>morphbank-dev</param-value>
		</init-param>
		<init-param>
			<param-name>filepath</param-name>
			<param-value>/usr/share/tomcat7/webapps/mbsvc3/xmlfiles/</param-value>
		</init-param>
		<init-param>
			<param-name>serviceprefix</param-name>
			<param-value>http://services.dev.morphbank.net/mbsvc3/flickr?</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>restful</servlet-name>
		<servlet-class>net.morphbank.mbsvc3.webservices.RestService</servlet-class>
		<init-param>
			<param-name>persistence</param-name>
			<param-value>morphbank-dev</param-value>
		</init-param>
		<init-param>
			<param-name>filepath</param-name>
			<param-value>/usr/share/tomcat7/webapps/mbsvc3/xmlfiles/</param-value>
		</init-param>
		<init-param>
			<param-name>serviceprefix</param-name>
			<param-value>http://services.dev.morphbank.net/mbsvc3/request?</param-value>
		</init-param>
		<init-param>
			<param-name>ip_allowed</param-name>
			<param-value>/usr/share/tomcat7/webapps/mbsvc3/WEB-INF/classes/listIPs.properties</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>restfulexcel</servlet-name>
		<servlet-class>
			net.morphbank.mbsvc3.webservices.RestServiceExcelUpload
		</servlet-class>
		<init-param>
			<param-name>persistence</param-name>
			<param-value>morphbank-dev</param-value>
		</init-param>
		<init-param>
			<param-name>filepath</param-name>
			<param-value>/usr/share/tomcat7/webapps/mbsvc3/xmlfiles/</param-value>
		</init-param>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>loadData.properties</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>convert</servlet-name>
		<servlet-class>net.morphbank.mbsvc3.webservices.Uploader</servlet-class>
		<init-param>
			<param-name>persistence</param-name>
			<param-value>morphbank-dev</param-value>
		</init-param>
		<init-param>
			<param-name>filepath</param-name>
			<param-value>/usr/share/tomcat7/webapps/mbsvc3/xmlfiles/</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>validateXls</servlet-name>
		<servlet-class>net.morphbank.mbsvc3.webservices.Validate</servlet-class>
		<init-param>
			<param-name>persistence</param-name>
			<param-value>morphbank-dev</param-value>
		</init-param>
		<init-param>
			<param-name>propertyFile</param-name>
			<param-value>loadData.properties</param-value>
		</init-param>
		<init-param>
			<param-name>filepath</param-name>
			<param-value>/usr/share/tomcat7/webapps/mbsvc3/xmlfiles/</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>request</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>flickr</servlet-name>
		<url-pattern>/flickr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>restful</servlet-name>
		<url-pattern>/restful</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>restfulexcel</servlet-name>
		<url-pattern>/restfulexcel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>convert</servlet-name>
		<url-pattern>/convert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>validateXls</servlet-name>
		<url-pattern>/validateXls</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>restrict by URL</web-resource-name>
			<url-pattern>/xlsToXml.html</url-pattern>
			<url-pattern>/restful</url-pattern>
			<url-pattern>/uploadXml.jsp</url-pattern>
			<url-pattern>/morphbanktools.html</url-pattern>
			<url-pattern>/loadData.properties</url-pattern>
			<url-pattern>/listIPs.properties</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>manager</role-name>
	</security-role>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Please, enter your login credentials!</realm-name>
	</login-config>

	<session-config>
		<session-timeout>3000</session-timeout>
	</session-config>
</web-app>